$black: black;
$white: white;
$color-text-main: #2D3748; 
$color-text-muted: #718096; 
$color-accent: #3182CE; 
$border-color: #E2E8F0; 
$bg-main: #e5edf1;
$text-main: #2D3748;

$bp-tablet: 768px;
$bp-desktop: 1280px;
$bp-large-desktop: 1440px;