$black: black;
$white: white;
$color-text-main: #2D3748; 
$color-text-muted: #718096; 
$color-accent: #3182CE; 
$border-color: #E2E8F0; 
$bg-main: #e5edf1;
$text-main: #2D3748;
$delete-color: rgb(140, 30, 30);
$delete-color-active: rgb(170, 30, 30);

$bp-tablet: 768px;
$bp-desktop: 1280px;
$bp-large-desktop: 1440px;

// category color
$all: aqua;
$auto: rgb(58, 108, 177);
$electronics: rgb(144, 210, 69);
$work: rgb(161, 77, 46);
$spare-parts: rgb(17, 44, 154);
$house: rgb(33, 171, 81);
$business: rgb(201, 71, 32);
$kids: rgb(160, 213, 27);
$sports: rgb(32, 206, 84);
$gamer: rgb(110, 43, 202);
$real-estate: rgb(203, 41, 112);