@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.home-page {
    padding: 40px 0;

    &__main-layout {
        display: flex;
        border: 1px solid $color-text-main;
        background-color: $white;
        border-radius: 12px;
        flex-direction: column;
        padding: 20px 16px;
        gap: 24px;
    }

    &__item-list {
        width: 100%;
        background-color: $white;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }
}