@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.home-page {
    padding: 40px 0;

    &__main-layout {
        display: grid;
        grid-template-columns: 230px 1fr;
        align-items: flex-start;
        gap: 22px;
    }

    &__item-list {
        width: 100%;
        background-color: $white;
        border: 1px solid $color-text-main;
        border-radius: 12px;
        display: grid;
        padding: 20px 16px;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}