@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.home-page {
    padding: 28px 0;

    @include tablet {
        padding: 32px 0;
    }

    @include desktop {
        padding: 40px 0;
    }

    &__main-layout {
        display: flex;
        background-color: $white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
        flex-direction: column;
        padding: 12px 10px;
        gap: 16px;

        @include tablet {
            padding: 20px 16px;
            gap: 24px;
        }
    }

    &__item-list {
        width: 100%;
        background-color: $white;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
            gap: 12px;
        }

        @include large-tablet {
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
        }

        @include desktop {
            grid-template-columns: repeat(5, 1fr);
            gap: 30px;
        }

        .loader-container,
        .error-banner,
        .empty-state {
            grid-column: 1 / -1;
            justify-self: center;
        }
    }
}
