@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer {
    flex: 0 0 auto;
    background-color: $color-accent; 
    padding: 28px 0;

    &__container {
        @include container;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $white;
        font-family: 'Montserrat', sans-serif;
    }

    &__copy {
        font-size: 0.8rem;
        color: $color-text-main;
    }
}