@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.footer {
    flex: 0 0 auto;
    background-color: $color-accent; 
    padding: 20px 0;

    &__container {
        @include container;
    }
}