@use '../utils/variables' as *;

.notification-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: $white;
    background-color: $pending-color;
    width: 18px;
    height: 18px;
    font-size: 0.7rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    transition:
        opacity 0.4s ease-in-out,
        transform 0.4s ease-in-out;

    &--show {
        opacity: 1;
        transform: scale(1);
    }
}
